@import "bootstrap/dist/css/bootstrap.min.css";

.ql-container {
    min-height: 10rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.btn-primary {
    background-color: #f14f48;
    border-color: #f14f48;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #f14f48;
    border-color: #f14f48;
}

.btn-primary:active {
    background-color: #f14f48 !important;
    border-color: #f14f48 !important;
}

.btn-secondary {
    background-color: #34364e;
    border-color: #34364e;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #34364e;
    border-color: #34364e;
}

.btn-secondary:active {
    background-color: #34364e !important;
    border-color: #34364e !important;
}
